@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
/* Global CSS */
html, body{
	background-color: #f6f7f9;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #000;
	font-weight: 500;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none;
	color: #000;
}
.bs-wrapper{
	position: relative;
}
.bs-btn-blue{
	font-weight: 600;
	padding: 17px 20px !important;
	text-transform: none;
	border-radius: 8px;
	text-shadow: 0 1px rgba(46,53,56,0.2);
	background: #3ebbf6;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 4px 8px rgba(4,8,40,0.1);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: #fff;
}
.bs-btn-blue:hover{
	background-color: #32b6f4;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 8px 16px rgba(4,8,40,0.2)
}
.bs-btn-outline{
	font-weight: 600;
	padding: 17px 20px;
	text-transform: none;
	border-radius: 8px;
	text-shadow: 0 1px rgba(46,53,56,0.2);
	background: transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 4px 8px rgba(4,8,40,0.1);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: #fff;
	border: 1px solid #fff;	
}
.bs-btn-outline:hover{
	color: #fff;
	border: 1px solid #fff;		
}
.bs-bg-banner{
	z-index: 3;
	background: linear-gradient(to right, rgba(6, 13, 63, 1), rgba(13, 127, 33, 1));
	background-image: url(../images/bg.jpeg);
	background-size: cover;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
}
.bs-bg-banner::before{
	content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-image: linear-gradient(to right, rgba(6, 13, 63, 0.9 ) 60%, rgba(0,193,177,0.5), rgba(0,193,177,0.75));
}
/* Header */
.bs-header{
	padding: 1.25rem 0;
	z-index: 2;
}
.bs-header .navbar .navbar-brand{
	color: #fff;
	font-weight: 600;
	font-size: 30px;
}
.bs-header .navbar-collapse{
	width: 100%;
}
.bs-header .navbar-collapse .nav-link{
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	padding-right: 1.25rem;
}
/* Banner */
.bs-banner{
	position: relative;
}
.bs-banner-text{
	padding: 160px 0 217px 0;
	margin-top: 10px;
	color: #fff;
}
.bs-banner-text .bs-main-heading h1{
	font-size: 2.625rem;
	line-height: 1.4;
	text-shadow: 0 1px 2px rgba(4,8,40,0.5);
}
.bs-banner-text .bs-main-para{
	margin: 0 0 37.5px;
}
.bs-banner-text .bs-main-para p{
	color: #c6ceff;
	font-size: 1.25rem;
	line-height: 1.5
}
.bs-banner-img video{
	/*position: absolute;
	left: 0;
	bottom: -60px;*/
	display: block;
	width: 800px;
	height: 450px;
	padding-right: 10px;
	/*background: url(../images/custom.png) no-repeat center center;
	background-size: cover;*/
}
.bs-banner-img video:focus{
	outline: none;
}
/* Content */
.bs-content{
	position: relative;
}
.bs-content .bs-img{
	width: 523px;
	height: 350px;
	object-fit: fill;
}
.bs-content .container{
	margin-top: 60px;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(4,8,40,0.08);
	border-radius: 12px;
}
.bs-content video{
	width: 100%;
}
.bs-left-content{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.bs-right-content{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.bs-border{
	border-bottom: 1px solid rgba(232,235,237,0.5);
}
.bs-text h5{
	font-size: 1rem;
	color: rgba(40, 60, 191, 0.5);
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
}
.bs-text h3{
	font-size: 1.25rem;
	color: rgba(40, 60, 191, 0.5);
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 24px 0px 10px 0px;
}
.bs-text p{
	font-size: 1.25rem;
	margin-bottom: 18px;
}
.bs-sec-content .learn-link{
	color: #3ebbf6;
	font-size: 14px;
	font-weight: 700;
}
.bs-sec-content .learn-link::before{
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	margin-bottom: 0.9375em;
	border-radius: 2px;
	background: rgba(232,235,237,0.5);
}
.bs-email-banner{
	padding: 160px 0;
	margin: -3.75rem 0;
	background: url(../images/email-banner.png) no-repeat center center;
	background-size: cover;
}
/*.bs-gradient::before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-image: linear-gradient(45deg, rgba(40,60,191,0), rgba(40,60,191,0.25), rgba(0,193,177,0.5), rgba(0,193,177,0.75));
}*/
.bs-email-banner h4{
	color: #fff;
	text-shadow: 0 1px 2px rgba(4,8,40,0.5);
	font-weight: 400;
	font-size: 1.75rem;
}
.bs-margin{
	margin: -3.75rem 0;
	position: relative;
}
.bs-input input{
	height: 56px;
	box-shadow: inset 0 0 1px #ffffff;
	background-color: transparent;
	background-image: linear-gradient(rgba(255,255,255,0.66), #fff);
	padding: 1.25em 1.5em;
	font-size: 1rem;
	border: none;
}
.bs-input .form-control:focus{
	box-shadow: none;
	border: none;
}
.bs-input .input-group-append span{
	background-color: #3ebbf6;
	color: #fff;
	font-weight: 700;
	border: 1px solid #3ebbf6;
}
.bs-testimonials-box{
	position: relative;
	margin: 1rem 0.9375rem 3rem 0.9375rem;
	padding: 3.5rem;
	background-image: linear-gradient(#31c462, #3c6, #29d663);
	border-radius: 12px;
	box-shadow: 0 5px 20px rgba(4,8,40,0.1), 0 20px 40px rgba(4,8,40,0.2);
}
.bs-testimonials-box h6{
	color: #fff;
	font-size: 28px;
	text-shadow: 0 1px 2px rgba(46,53,56,0.33);
	line-height: 1.4;
	margin-bottom: 2rem;
}
.bs-testimonials-box p{
	font-size: 16px;
	font-weight: 400;
}
/* Footer */
.bs-home-footer{
	padding: 5em 0 5em 0;
	background: #060d3f;
	background-image: linear-gradient(45deg, #050a31, #080f4d);
}
.bs-footer-link h6{
	margin-bottom: 0.9375em;
	font-size: 0.875em;
	color: #C6CEFF;
	text-transform: uppercase;
}
.bs-footer-link li{
	line-height: 1.2;
	margin-bottom: 0.625em;
}
.bs-footer-link li a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.bs-footer-link li img{
	width: 140px;
	height: 40px;
}
.bs-copyright-footer{
	padding: 1.875em 0;
	background-image: linear-gradient(45deg, #040828, #060c3b);
	color: #fff;
}
.bs-copyright-footer a{
	color: #fff;	
	font-size: 24px;
}
.bs-copyright-footer a i{
	font-size: 30px;
	margin-right: 5px;
}
.bs-btn-row a img{
	width: 180px;
	height: 55px;
}
.bs-btn-row a:first-child img{
	margin-right: 15px;
}
/* Responsiceness */
@media (max-width: 991.98px) {
	.bs-content .bs-img{
		width: 100%;
	}
	.bs-testimonials-box{
		padding: 2.5rem;
	}
	.bs-testimonials-box h6{
		font-size: 24px;
	}
}
@media (max-width: 768px){
	.bs-testimonials-box h6{
		font-size: 24px;
	}
	.bs-testimonials-box p{
		font-size: 18px;
	}
	.bs-home-footer{
		padding: 3em 0 3em 0;
	}
	.bs-footer-link li a{
		font-size: 16px;
	}
	.bs-footer-link h6{
		font-size: 1rem;
	}
} 
@media (min-width: 768px) and (max-width: 991.98px) {
	.bs-content .bs-img{
		margin: 0 auto;
		display: block;
	}
	.bs-input .input-group-append span{
		font-size: 20px;
	}
	.bs-input input{
		font-size: 20px;
	}
}
@media (max-width: 575.98px) {
	.mobile-responsive .d-sm-none{
		display: none;
	}
	.bs-email-banner h4{
		font-size: 1rem;
	}
	.bs-home-footer .col-sm-6{
		width: 50%;
		margin-bottom: 15px;
	}
	.bs-copyright-footer .col-sm-6{
		text-align: center !important;
		margin-bottom: 10px;
	}
	.bs-testimonials-box h6{
		font-size: 20px;
	}
	.bs-testimonials-box{
		padding: 1.5rem;
	}
	.bs-btn-row{
		display: flex;
	}
	.bs-btn-blue{
		padding: 17px 10px;
	}
	.bs-btn-outline{
		padding: 17px 10px;	
	}
	.bs-header .collapse.show, .bs-header .collapsing{
		position: absolute;
		width: 100%;
		z-index: 1000;
		background: rgba(0,0,0,0.9);
		left: 0;
		top: 70px;
	}
	.bs-header .navbar-nav{
		padding: 20px;
	}
	.bs-banner-text{
		padding: 130px 0 190px 0;
	}
}